<footer class="bg-gradient-to-b from-white to-[#6AC5E4] text-gray-900 pt-10 pb-6 mt-10">
  <div class="container mx-auto px-6 md:px-12 grid grid-cols-1 md:grid-cols-3 gap-8">

    <!-- Logo & About -->
    <div dir="rtl">
      <img src="assets/navbar/logo-horiz.svg" class="w-[300px]" alt="">
      <p class="text-sm leading-6 text-gray-700 mt-3">
        في <span class="font-semibold">مُزن</span> نعمل على توفير مياه نقية وصحية من خلال أحدث تقنيات التحلية والمعالجة،
        لنقدم لك كل قطرة بجودة عالية وموثوقية تامة.
      </p>
      <ul class="space-y-3 text-gray-700 mt-2">
        <li class="flex items-center space-x-2 rtl:space-x-reverse">
          <i class="fa-solid fa-file-invoice text-[#0B4F6C] text-lg animate-pulse"></i>
          <div class="flex flex-col leading-tight">
            <span class="text-sm">رقم التسجيل الضريبي</span>
            <span class="font-semibold text-[#0B4F6C]">302035615400003</span>
          </div>
        </li>

        <li class="flex items-center space-x-2 rtl:space-x-reverse">
          <i class="fa-solid fa-briefcase text-[#0B4F6C] text-lg animate-pulse"></i>
          <div class="flex flex-col leading-tight">
            <span class="text-sm">رقم السجل التجاري</span>
            <span class="font-semibold text-[#0B4F6C]">7029868630</span>
          </div>
        </li>
      </ul>
    </div>

    <!-- Quick Links -->
    <div dir="rtl">
      <h3 class="text-xl font-semibold text-[#0B4F6C] mb-3">روابط سريعة</h3>
      <ul class="space-y-2 text-gray-700">
        <li class="group flex items-center gap-2 cursor-pointer">
          <span class="text-[#222] opacity-0 transform translate-x-2 group-hover:opacity-100 group-hover:translate-x-0 transition-all duration-300">›</span>
          <a href="#" class="hover:text-[#0B4F6C] transition-all duration-300">- الرئيسية</a>
        </li>

        <li class="group flex items-center gap-2 cursor-pointer">
          <span class="text-[#222] opacity-0 transform translate-x-2 group-hover:opacity-100 group-hover:translate-x-0 transition-all duration-300">›</span>
          <a href="#" class="hover:text-[#0B4F6C] transition-all duration-300">- عن موزن</a>
        </li>

        <li class="group flex items-center gap-2 cursor-pointer">
          <span class="text-[#222] opacity-0 transform translate-x-2 group-hover:opacity-100 group-hover:translate-x-0 transition-all duration-300">›</span>
          <a href="#" class="hover:text-[#0B4F6C] transition-all duration-300">- منتجاتنا</a>
        </li>

        <li class="group flex items-center gap-2 cursor-pointer">
          <span class="text-[#222] opacity-0 transform translate-x-2 group-hover:opacity-100 group-hover:translate-x-0 transition-all duration-300">›</span>
          <a href="#" class="hover:text-[#0B4F6C] transition-all duration-300">- تواصل معنا</a>
        </li>
      </ul>
    </div>


    <!-- Contact & Social -->
    <div dir="rtl">
      <h3 class="text-xl font-semibold text-[#0B4F6C] mb-3">تواصل معنا</h3>
      <p class="text-sm mb-3 text-gray-700">
        <i class="fa-solid fa-envelope text-[#0B4F6C]/80"></i>
        <a href="mailto:info@muzn.sa" class="text-[#0B4F6C] font-semibold"> info@muzn.sa</a>
      </p>
      <p class="text-sm mb-4 text-gray-700">
        <i class="fa-solid fa-phone text-[#0B4F6C]/80"></i>
        <a href="tel:+966500536166" class="text-[#0B4F6C] font-semibold" target="_blank"> +966500536166</a>
      </p>
      <p class="text-sm mb-4 text-gray-700">
        <i class="fa-brands fa-whatsapp text-[#0B4F6C]/80"></i>
        <a href="https://wa.me/+966500536166"  class="text-[#0B4F6C] font-semibold" target="_blank"> +966500536166</a>
      </p>
      <p class="text-sm mb-4 text-gray-700">
        <i class="fa-solid fa-location-dot text-[#0B4F6C]/80"></i>
        <a href="https://maps.app.goo.gl/MwWFkYUyTgHBCJU4A" class="text-[#0B4F6C] font-semibold" target="_blank"> 7367 شارع قوز الشريف , حي المشاعل</a>
      </p>


      <div class="flex space-x-2 pb-4 mb-6">
        <a class="text-[#0B4F6C] hover:text-green-300 text-[25px] transition-all duration-300 transform hover:scale-100 hover:-translate-y-1">
          <i class="fa-brands fa-whatsapp"></i>
        </a>
        <a class="text-[#0B4F6C] hover:text-blue-600 text-[25px] transition-all duration-300 transform hover:scale-100 hover:-translate-y-1">
          <i class="fab fa-facebook"></i>
        </a>
        <a class="text-[#0B4F6C] hover:text-sky-500 text-[25px] transition-all duration-300 transform hover:scale-100 hover:-translate-y-1">
          <i class="fab fa-twitter"></i>
        </a>
        <a class="text-[#0B4F6C] hover:text-pink-500 text-[25px] transition-all duration-300 transform hover:scale-100 hover:-translate-y-1">
          <i class="fab fa-instagram"></i>
        </a>
        <a class="text-[#0B4F6C] hover:text-yellow-400 text-[25px] transition-all duration-300 transform hover:scale-100 hover:-translate-y-1">
          <i class="fab fa-snapchat"></i>
        </a>
      </div>
    </div>
  </div>

  <!-- Divider -->
  <div class="border-t border-[#0B4F6C]/20 mt-8 pt-4 text-center text-gray-700 text-sm">
    <p>شركة مُزن © 2025 جميع الحقوق محفوظة.</p>
  </div>
</footer>
